# /lib/systemd/system/i2c_server.service
 [Unit]
 Description=Gets i2c sensor data and publishes it to mqtt
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /usr/lib/i2c_server/i2c_server.py > /var/log/i2c_server.log 2>&1

 [Install]
 WantedBy=multi-user.target
