# /lib/systemd/system/i2c_server.service
 [Unit]
 Description=i2c sensor collector push to mqtt srv
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /usr/local/lib/i2c_server/i2c_server.py
 User=root
 Group=root

 [Install]
 WantedBy=multi-user.target
